@import "../styles.scss";

.calendar {
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.30);
    color: white;
    .group {
        margin-bottom: 1.5em;
    }
    .calendar-name {
        font-size: $font-size-large;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 1.5em;
    }
    .group-name {
        font-size: $font-size-large;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: .75em;
    }
    .event {
        display: flex;
        line-height: 2;
    }
    .time,
    .summary {
        margin: 0;
        font-size: $font-size-medium;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .time {
        width: 25%;
        font-weight: 500;
    }
    .summary {
        width: 80%;
    }
    .none {
        font-size: $font-size-medium;
    }
}