.calendar {
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.30);
    color: white;
    .group {
        margin-bottom: 1.25rem;
    }
    .calendar-name {
        font-size: 1vw;
        font-weight: 500;
        margin-bottom: 1.25rem;
        margin-top: 0;
    }
    .group-name {
        font-size: 1vw;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1rem;
    }
    .event {
        display: flex;
        line-height: 1em;
    }
    .time,
    .summary {
        line-height: 1em;
        margin: 0;
        font-size: .75vw;
        line-height: 1.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .time {
        width: 25%;
        font-weight: 500;
    }
    .summary {
        width: 80%;
    }
    .none {
        font-size: .75vw;
    }
}