.module.feed {
    padding: 0;
    padding-bottom: 2rem;
    color: #555;
    .image {
        height: 20vh;
        width: 100%;
        background-color: #313131;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .title {
        font-size: 1.5vw;
        font-weight: 500;
        margin: 0 0 .5rem 0;
    }
    .content {
        padding: 1.2rem;
    }
    .published {
        font-size: .75vw;
        margin: 0 0 .75rem 0;
        color: #999;
    }
    .summary {
        font-size: .75vw;
        line-height: 1.5em;
        margin: 0;
    }
    a,
    img,
    figure {
        display: none;
    }
}

canvas {
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}