@import "../styles.scss";

.module.feed {
    padding: 0;
    padding-bottom: 2rem;
    color: #555;
    .image {
        height: 20vh;
        width: 100%;
        background-color: #313131;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .title {
        font-size: $font-size-x-large;
        font-weight: 500;
        margin-bottom: .5em;
    }
    .content {
        padding: 1.2rem;
    }
    .published {
        font-size: $font-size-medium;
        margin-bottom: .75em;
        color: #999;
    }
    .summary {
        font-size: $font-size-medium;
    }
    
    a,
    img,
    figure {
        display: none;
    }
}