.remote {
    padding: 1rem;
    font-family: sans-serif;
    bottom: 0;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    .card {
        background-color: white;
        padding: 1rem;
        margin-bottom: 1rem;
        &.opacity {
            button {
                height: 3rem;
                width: 3rem;
                border: 0;
                background-color: #8c42ff;
                color: white;
                border-radius: 50%;
                margin-right: 1rem;
                font-size: 12px;
                font-weight: bold;
            }
        }
        &.image {
            button {
                height: 40px;
                line-height: 40px;
                background-color: #8c42ff;
                border: 0;
                color: white;
                font-size: 14px;
                padding: 0 1rem;
                border-radius: 4px;
            }
            input {
                height: 40px;
                line-height: 40px;
                border: 2px solid #8c42ff;
                color: white;
                font-size: 14px;
                padding: 0 1rem;
                color: #8c42ff;
                margin-right: 1rem;
                border-radius: 4px;
            }
        }
    }
}