.subway {
    color: white;
    .stop {
        display: flex;
        align-items: flex-start;
        margin-bottom: 2rem;
        > div {
            margin-right: 1rem;
        }
    }
    .line-G {
        background-color: #6cbe45;
        display: inline-block;
        height: 3vw;
        width: 3vw;
        line-height: 3.4vw;
        text-align: center;
        border-radius: 50%;
        font-weight: 600;
        font-size: 2vw;
    }
    .group-name {
        font-size: 1vw;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: .5vw;
        line-height: 1.2rem;
    }
    .update {
        font-size: .75vw;
        line-height: 1.75rem;
    }
}