.time {
    font-size: 3.6vw;
    font-weight: 900;
    color: white;
   
    .ampm {
        font-size: .75em;
    }
    
    .date {
        color: white;
        font-weight: 300;
        font-size: 1.4vw;
        margin-bottom: 2rem;
    }

    .clock {
        text-align: center;
    }
}