@import "../styles.scss";

.weather {
  color: white;
  .temperature .degrees {
    font-size: $font-size-xx-large;
    font-weight: 300;
  }

  .temperture .feels-like {
    font-size: $font-size-medium;
  }
  
  .summary {
    font-weight: 300;
    font-size: $font-size-x-large;
  }
  
  .now {
    margin-bottom: 2em;
  }
  
  .day {
    margin-bottom: 2em;
  }

  .group-name {
    font-size: $font-size-large;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: .5em;
  }
  
  .day-summary {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
  }
}